<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="register()">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
          <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" name="firstname" placeholder="Enter your first name" [(ngModel)]="credentials.firstName">
          </div>
          <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Enter your last name" [(ngModel)]="credentials.lastName">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" name="phone" placeholder="Phone number" [(ngModel)]="credentials.phone">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" name="country" placeholder="Country" [(ngModel)]="credentials.country">
          </div>
          <div class="form-group">
            <label for="bornDate">Borndate</label>
            <input type="date" class="form-control" name="bornDate" placeholder="Borndate" [(ngModel)]="credentials.bornDate">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
        </form>
      </div>
    </div>
  </div>