<div class="container">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">Childs</h1>
      </div>
</div>
<div class="container" >
    <div class="row" > 
        <div class="col-6" >
            <form (submit)="registerChild()">
                <h1 class="h3 mb-3 font-weight-normal">New Child</h1>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" class="form-control" name="lastname" placeholder="Enter your password" >
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Add child</button>
              </form>
        </div>
        <div class="col-6" >
        </div>
    </div>
</div>