<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">PROFILE</h1>
      </div>
      <form (submit)="update()">
        <h1 class="h3 mb-3 font-weight-normal">Profile</h1>
        <div class="form-group">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" name="firstname" value="{{ details?.firstName }}" >
        </div>
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" name="lastname" value="{{ details?.lastName}}">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" value="{{ details?.email }}" >
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" name="phone" value="{{ details?.phone }}" >
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" name="country" value="{{ details?.country }}">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Update!</button>
      </form>
    </div>
  </div>