<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Tubekids!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/profile">{{ auth.getUserDetails()?.firstName }}</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
<router-outlet></router-outlet>