<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">Tubekids</h1>
      </div>
    </div>
</div>
<div class="container" >
  <div class="row" >
    <div class="col-6 " >
      <button (click)="btnClickChild();"type="button" class="btn btn-primary btn-lg btn-block">Childs</button>
    </div>
    <div class="col-6" >
      <button (click)="btnClickPlay();" type="button" class="btn btn-primary btn-lg btn-block">Playlists</button>
    </div>
  </div>
</div>
