<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="verifyAcc()">
          <h1 class="h3 mb-3 font-weight-normal">Verify your account</h1>
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" name="code" placeholder="Enter the code" >
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Send!</button>
        </form>
      </div>
    </div>
</div>